/* Form */
form {
  display: flex;
  flex-direction: column;
}
form > label.textfield,
form > select {
  margin-bottom: 12px;
}
form label,
form output,
form select {
  color: #666;
}
form select {
  margin-top: 8px;
  cursor: pointer;
  height: 56px;
  outline: none;
  border: solid 1px;
  border-color: rgba(0, 0, 0, 0.6);
  padding: 15px 13px 15px;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.6);
  background-color: transparent;
  transition: border-color 0.2s, box-shadow 0.2s;
}
form select:hover {
  border-color: rgba(0, 0, 0, 0.87);
}
form output {
  margin-bottom: 6px;
}
form button[type='submit'] {
  width: 100%;
  background-color: #c69bff;
  color: white;
  border: none;
  outline: none;
  text-align: center;
  font-weight: 500;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  padding: 10px;
  cursor: pointer;
}

/* Button */
.mat-button {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  border: solid 1px;
  border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.24);
  border-radius: 4px;
  padding: 0 16px;
  min-width: 64px;
  height: 36px;
  vertical-align: middle;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: uppercase;
  color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
  background-color: transparent;
  font-size: 14px;
  font-weight: 500;
  line-height: 34px;
  overflow: hidden;
  outline: none;
  cursor: pointer;
}
.mat-button::-moz-focus-inner {
  border: none;
}
/* Overlay */
.mat-button::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: currentColor;
  opacity: 0;
  transition: opacity 0.2s;
}
/* Ripple */
.mat-button::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  padding: 50%;
  width: 32px;
  height: 32px;
  background-color: currentColor;
  opacity: 0;
  transform: translate(-50%, -50%) scale(1);
  transition: opacity 1s, transform 0.5s;
}
/* Hover, Focus */
.mat-button:hover::before {
  opacity: 0.04;
}
.mat-button:focus::before {
  opacity: 0.12;
}
.mat-button:hover:focus::before {
  opacity: 0.16;
}
/* Active */
.mat-button:active::after {
  opacity: 0.16;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0s;
}
/* Disabled */
.mat-button:disabled {
  color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
  background-color: transparent;
  cursor: initial;
}
.mat-button:disabled::before {
  opacity: 0;
}
.mat-button:disabled::after {
  opacity: 0;
}

/* Textfield */
.textfield {
  --pure-material-safari-helper1: rgb(
    var(--pure-material-primary-rgb, 33, 150, 243)
  );
  position: relative;
  display: inline-block;
  padding-top: 6px;
  /* font-family: var(
    --pure-material-font,
    'Roboto',
    'Segoe UI',
    BlinkMacSystemFont,
    system-ui,
    -apple-system
  ); */
  font-size: 16px;
  line-height: 1.5;
  overflow: hidden;
}
/* Input, Textarea */
.textfield > input,
.textfield > textarea {
  box-sizing: border-box;
  margin: 0;
  border: solid 1px;
  /* Safari */
  border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
  border-top-color: transparent;
  border-radius: 4px;
  padding: 15px 13px 15px;
  width: 100%;
  height: inherit;
  color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
  background-color: transparent;
  box-shadow: none;
  /* Firefox */
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  caret-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
  transition: border 0.2s, box-shadow 0.2s;
}
/* Span */
.textfield > input + span,
.textfield > textarea + span {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
  width: 100%;
  max-height: 100%;
  color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
  font-size: 75%;
  line-height: 15px;
  cursor: text;
  transition: color 0.2s, font-size 0.2s, line-height 0.2s;
}
/* Corners */
.textfield > input + span::before,
.textfield > input + span::after,
.textfield > textarea + span::before,
.textfield > textarea + span::after {
  content: '';
  display: block;
  box-sizing: border-box;
  margin-top: 6px;
  border-top: solid 1px;
  border-top-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
  min-width: 10px;
  height: 8px;
  pointer-events: none;
  box-shadow: inset 0 1px transparent;
  transition: border-color 0.2s, box-shadow 0.2s;
}
.textfield > input + span::before,
.textfield > textarea + span::before {
  margin-right: 4px;
  border-left: solid 1px transparent;
  border-radius: 4px 0;
}
.textfield > input + span::after,
.textfield > textarea + span::after {
  flex-grow: 1;
  margin-left: 4px;
  border-right: solid 1px transparent;
  border-radius: 0 4px;
}
/* Hover */
.textfield:hover > input,
.textfield:hover > textarea {
  border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
  border-top-color: transparent;
}
.textfield:hover > input + span::before,
.textfield:hover > textarea + span::before,
.textfield:hover > input + span::after,
.textfield:hover > textarea + span::after {
  border-top-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
}
.textfield:hover > input:not(:focus):placeholder-shown,
.textfield:hover > textarea:not(:focus):placeholder-shown {
  border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
}
/* Placeholder-shown */
.textfield > input:not(:focus):placeholder-shown,
.textfield > textarea:not(:focus):placeholder-shown {
  border-top-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
}
.textfield > input:not(:focus):placeholder-shown + span,
.textfield > textarea:not(:focus):placeholder-shown + span {
  font-size: inherit;
  line-height: 68px;
}
.textfield > input:not(:focus):placeholder-shown + span::before,
.textfield > textarea:not(:focus):placeholder-shown + span::before,
.textfield > input:not(:focus):placeholder-shown + span::after,
.textfield > textarea:not(:focus):placeholder-shown + span::after {
  border-top-color: transparent;
}
/* Focus */
.textfield > input:focus,
.textfield > textarea:focus {
  border-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
  border-top-color: transparent;
  box-shadow: inset 1px 0 var(--pure-material-safari-helper1),
    inset -1px 0 var(--pure-material-safari-helper1),
    inset 0 -1px var(--pure-material-safari-helper1);
  outline: none;
}
.textfield > input:focus + span,
.textfield > textarea:focus + span {
  color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
}
.textfield > input:focus + span::before,
.textfield > input:focus + span::after,
.textfield > textarea:focus + span::before,
.textfield > textarea:focus + span::after {
  border-top-color: var(--pure-material-safari-helper1) !important;
  box-shadow: inset 0 1px var(--pure-material-safari-helper1);
}
/* Disabled */
.textfield > input:disabled,
.textfield > input:disabled + span,
.textfield > textarea:disabled,
.textfield > textarea:disabled + span {
  border-color: rgba(
    var(--pure-material-onsurface-rgb, 0, 0, 0),
    0.38
  ) !important;
  border-top-color: transparent !important;
  color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
  pointer-events: none;
}
.textfield > input:disabled + span::before,
.textfield > input:disabled + span::after,
.textfield > textarea:disabled + span::before,
.textfield > textarea:disabled + span::after {
  border-top-color: rgba(
    var(--pure-material-onsurface-rgb, 0, 0, 0),
    0.38
  ) !important;
}
.textfield > input:disabled:placeholder-shown,
.textfield > input:disabled:placeholder-shown + span,
.textfield > textarea:disabled:placeholder-shown,
.textfield > textarea:disabled:placeholder-shown + span {
  border-top-color: rgba(
    var(--pure-material-onsurface-rgb, 0, 0, 0),
    0.38
  ) !important;
}
.textfield > input:disabled:placeholder-shown + span::before,
.textfield > input:disabled:placeholder-shown + span::after,
.textfield > textarea:disabled:placeholder-shown + span::before,
.textfield > textarea:disabled:placeholder-shown + span::after {
  border-top-color: transparent !important;
}
