:root {
  font-size: 16px;
  scroll-behavior: smooth;
}

@media screen and (max-width: 480px) {
  :root {
    font-size: 12px;
  }
  .menu,
  .menu > * {
    margin: 1.5rem 0;
  }
  .button,
  .menu {
    margin-bottom: 0;
  }
  .inline-image {
    margin-bottom: 2rem;
    width: 100%;
  }
  .video {
    height: 85vh;
  }
  .product-section {
    flex-wrap: wrap-reverse;
  }
  .side-image img {
    width: 100%;
    height: auto;
  }
  .grid-section {
    padding: 48px 24px !important;
    max-width: 100% !important;
  }
  .grid {
    flex-direction: column;
  }
}

html {
  box-sizing: border-box;
  min-height: 100%;
}

body {
  min-height: 100%;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.5em;
  letter-spacing: normal;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
  justify-content: center;
}

header {
  font-family: 'Google Sans', sans-serif;
  max-width: 100%;
  transition: background 0.2s;
  transition: box-shadow 0.2s;
  color: #000;
  position: sticky;
  top: 0;
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  overflow: auto;
}

.logo {
  font-weight: bold;
  font-size: 42px;
  margin-right: 16px;
  height: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo img {
  height: 100%;
  margin-right: 12px;
}

.logo svg {
  width: 35px;
  height: 40px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navigation {
  min-height: 100%;
  float: center;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  margin-right: 12px;
}
.navigation li {
  border-collapse: collapse;
  border-left: 2px solid #555;
}
.navigation li:first-child {
  border-left: none;
}
.menu a {
  padding: 12px;
  transition: background-color 0.1s;
}
.menu a:hover:not(.button) {
  background-color: rgba(0, 0, 0, 0.1);
}

.button {
  color: rgba(0, 0, 0, 0.8) !important;
  text-transform: uppercase;
  font-weight: bold;
  padding: 16px;
  font-size: 1rem;
  background: #29b6f6;
  border: none;
  white-space: nowrap;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 3px;
}

.video {
  flex-grow: 1;
  margin: 0;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: calc(100vh - 80px);

  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.background-video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 0;
}

.center {
  color: #fff;
  text-align: center;
  margin: 12px;
  font-size: 3rem;
}
h2.center {
  font-size: 2rem;
}

.overlay {
  padding: 64px 32px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.glass {
  border-radius: 3px;
  /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2); */
  background-color: rgba(255, 255, 255, 0.2);
  overflow: hidden;
  position: relative;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.3);
}
.glass:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  box-shadow: inset 0 0 3000px rgba(255, 255, 255, 0.5);
  filter: blur(10px);
  margin: -20px;
}

.scroll {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  margin-bottom: 32px;
}
.scroll span {
  display: block;
  width: 32px;
  height: 32px;
  transition: border 0.2s;
  border-bottom: 4px solid #fff;
  border-right: 4px solid #fff;
  transform: rotate(45deg);
}
.scroll:hover span {
  border-bottom: 4px solid #bbb;
  border-right: 4px solid #bbb;
}

.text-section {
  font-size: 1.5rem;
  padding: 64px;
}

.inline-image {
  float: right;
  margin-left: 24px;
  border-radius: 3px;
  object-fit: cover;
}

.product-section {
  padding: 64px;
  display: flex;
  justify-content: space-between;
  overflow: auto;
}

.package-descriptions {
  flex-grow: 1;
  font-size: 1.5rem;
}

.side-image {
  margin: 0;
  margin-left: 24px;
  flex-grow: 0;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  min-width: 25%;
}
.side-image img {
  width: 100%;
  height: auto;
  border-radius: 3px;
  object-fit: cover;
  flex-shrink: 0;
}
.side-image figcaption {
  font-size: 1.1em;
  margin-top: 12px;
  color: #999;
  font-style: italic;
  text-align: center;
}

.comparison-section {
  padding: 64px;
  overflow: auto;
}

.buy-section {
  padding: 64px;
}

.companies-list h1,
.people-list h1 {
  margin-bottom: 24px;
  font-size: 2em;
}
.people-list {
  padding-top: 0 !important;
}
.people-list img {
  width: 100%;
}

footer {
  margin: 0;
  position: relative;
  bottom: 0;
  max-width: 100%;
  padding: 12px;

  background: rgba(0, 0, 0, 0.1);
  color: #999;
  fill: #999;
  letter-spacing: normal;
  font-size: inherit;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: stretch;
  align-items: center;
}

.icon {
  height: 1.5em;
  width: 1.5em;
}
.icon svg,
.icon img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: 100%;
}

.container {
  padding: 32px;
  background: #fff;
  border-radius: 5px;
  border: #e6e6e6 1px solid;
  cursor: pointer;
  transition: box-shadow 0.2s;
}
.container:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.pane {
  padding: 24px;
  border: 0;
  box-shadow: 0 3px 3px 0 rgba(23, 55, 87, 0.03),
    0 0 5px 1px rgba(0, 0, 0, 0.05);
  background-color: #fafafa;
  /* box-shadow: 0 4px 35px 0 rgba(23, 55, 87, 0.1),
    0 5px 15px 0 rgba(0, 0, 0, 0.07); */
  /* background-color: #ffffff; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.2em;
  font-family: 'Google Sans', sans-serif;
  color: #000;
  line-height: 1em;
}
p {
  line-height: 1.5em;
  margin-top: 0;
  margin-bottom: 1.5em;
}
p:last-child {
  margin-bottom: 0;
}

.unform-link {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
